.toggleVR {
    position: absolute;
    top: 10px;
    outline: none;
    float: left;
    border: none;
    background: url('https://pvris.herokuapp.com/images/toggleVR.png') no-repeat;
    height: 30px;
    width: 30px;
    background-size: 50% 50%;
    background-position: center;
  }